.banner-section {
  background-size: cover;
  height: 800px;

  h1 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 3.1rem;
    padding-top: 13.4rem !important;
  }
}

.cta-section {
  display: flex;
}

.intro {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem;

  h2 {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
  }
}

.img-detail {
  margin-top: 100px;

  h2 {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
  }

  p {
    padding: 10px 70px;
  }
}

.class_odd,
.class_even {
  padding-right: 0;
  padding-left: 0;
}

.blog-section {
  margin-top: 5.25rem;
  margin-bottom: 5.25rem;

  h2 {
    text-transform: uppercase !important;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.flex-wrap {
  width: 100%;

  .book-sec {
    width: 50%;
    padding-top: 2.5rem;
  }
}

.nav li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #444;
}

.card-body {
  padding: 0 !important;

  h4 {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    padding-bottom: 2.5rem;
    padding-top: 2.6rem;
  }
}

.card {
  border: none;
}

.book-sec1 {
  padding: 2.5rem 4rem !important;
}
