.banner-section {
  background-size: cover;
  height: 800px;

  h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 3rem;
    padding-top: 200px !important;
  }
}

.cta-section {
  display: flex;
}

.intro {
  padding-top: 100px !important;
  padding-bottom: 100px;
}

.img-detail {
  margin-top: 100px;

  h2 {
    text-transform: uppercase;
  }

  p {
    padding: 10px 70px;
  }
}

.class_odd,
.class_even {
  padding-right: 0;
  padding-left: 0;
}

.blog-section {
  margin-top: 25px;
}

.flex-wrap {
  width: 100%;

  .book-sec {
    width: 50%;
    padding-top: 2.5rem;
  }
}
